.notification-bell {
    position: relative;
    display: inline-block;
}

.bell-icon {
    font-size: 24px;
    color: #333;
    cursor: pointer;
    position: relative;
}

.notification-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.notification-content {
    position: absolute;
    width: 250px;
    top: 30px;
    right: -10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    max-height: 0;
    overflow: hidden;
}

.ingredient-item1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.notification-content.open {
    max-height: 500px;
    /* Điều chỉnh độ cao tối đa phù hợp với nội dung của bạn */
    opacity: 1;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quantity-actions {
    display: flex;
    align-items: center;
}

.quantity-actions button {
    margin-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Thêm một số CSS để điều chỉnh giao diện nút xóa */
.ingredient-item button {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 14px;
}

.ingredient-item button:hover {
    color: #f00;
}

.quantity-actions button:hover,
.ingredient-item button:hover {
    background-color: white;
}

ul .confirm-btn {
    background-color: green;
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}