.notification-bell {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.bell-icon {
    font-size: 24px;
    color: #333;
    /* Màu sắc của icon chuông */
}

.notification-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}