<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/storage' ? 'active' : '' %>" href="/storage-page">Storage</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/add-page' ? 'active' : '' %>" href="/add-page">Add</a>
            </li>
        </ul>
    </nav>
</header>